{{input value=say autofocus="autofocus" maxlength=20}}
<span class="clickfocus" {{action "clickFocus"}}></span>

<div id="kanye">
  <img src="/fam.jpg" alt="Fam">
  <div id="block1">
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
  </div>
  <div id="block2">
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
  </div>
  <div id="block3">
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
  </div>
  <div id="block4">
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
  </div>
  <div id="block5">
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
  </div>
  <div id="block6">
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
  </div>
  <div id="block7">
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
  </div>
  <div id="block8">
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
  </div>
  <div id="block9">
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
    <div>{{fullPhrase}}</div>
  </div>
</div>